# Python bytecode files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/
.env/
*.egg-info/
*.egg/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/

# VS Code project files
.vscode/

# Flask specific
instance/
*.sqlite3
*.db

# Logs
*.log

# Temporary files
*.tmp
*.bak

# YOLO weights or other large files
weights/
